* {
  font-family: 'PT Sans', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f8f7ed;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
p {
  line-height: 2;
  @media (max-width: 1400px) {
    line-height: 1.75;
    font-size: 1.85rem;
  }
  @media (max-width: 1400px) {
    line-height: 1.6;
  }
}
.navbar {
  width: 90%;
  height: 5%;
  background-color: #29292969;
  display: flex;
  justify-content: space-between;
  position: fixed;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.logo {
  display: flex;
  max-height: 100%;
  cursor: pointer;
  transition: opacity 0.2s;
}
.logo-img {
  padding: 0 1rem;
  max-height: 100%;
}
.logo-brand {
  font-size: 1.2rem;
  white-space: nowrap;
  color: #f8f7ed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.logo:hover {
  opacity: 0.7;
}
.menu {
  display: flex;
  align-items: center;
  flex: 1 1;
  padding-right: 1.5rem;
  justify-content: flex-end;
}
.menu ul {
  display: flex;
  list-style: none;
  height: 100%;
  position: relative;
}
.menu ul a {
  text-decoration: none;
  color: #f8f7ed;
  transition: opacity 0.2s;
  font-size: 1.3rem;
  position: relative;
}
.menu ul li {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.menu ul a:hover {
  opacity: 0.7;
}
.menu ul a.active {
  color: #ffc107;
}
.menu li:has(> a.active)::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffc107;
  bottom: 0;
}
.menu .desktop-menu {
  display: flex;
  justify-content: space-around;
  flex-basis: 50%;
  @media (max-width: 1650px) {
    flex-basis: 60%;
  }
  @media (max-width: 1400px) {
    flex-basis: 80%;
  }
  @media (max-width: 1290px) {
    flex-basis: 90%;
  }
  @media (max-width: 1100px) {
    flex-basis: 100%;
  }
}

.menu .mobile-menu {
  display: none;
}
section {
  display: flex;
  align-items: center;
}
h2 {
  text-align: center;
  padding-bottom: 2.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  @media (max-width: 1100px) {
    padding-bottom: 2rem;
  }
}
.lifting-img {
  @media (max-width: 945px) {
    max-width: 100%;
    height: auto;
  }
  min-width: 50%;
  max-width: 50%;
  height: 100svh;
  object-fit: cover;
  border-bottom-right-radius: 20%;
}
.lifting-text {
  font-size: 2rem;
  padding: 0rem 5rem;
  color: #292929;
}
.why-img {
  @media (max-width: 945px) {
    max-width: 100%;
    height: auto;
  }
  min-width: 50%;
  max-width: 50%;
  height: 100svh;
  object-fit: cover;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}
.why-text {
  font-size: 2rem;
  padding: 0rem 5rem;
  color: #292929;
}
.present-time-img {
  @media (max-width: 945px) {
    max-width: 100%;
    height: auto;
  }
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  min-width: 50%;
  max-width: 50%;
  height: 100svh;
  object-fit: cover;
}
.present-time-text {
  font-size: 2rem;
  padding: 0rem 5rem;
  color: #292929;
}
.wait-no-more-img {
  @media (max-width: 945px) {
    max-width: 100%;
    height: auto;
  }
  min-width: 50%;
  max-width: 50%;
  height: 100svh;
  object-fit: cover;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}
.wait-no-more-text {
  font-size: 2rem;
  padding: 0rem 5rem;
  color: #292929;
}
.result-img {
  @media (max-width: 945px) {
    max-width: 100%;
    height: auto;
  }
  border-top-right-radius: 20%;
  min-width: 50%;
  max-width: 50%;
  height: 100svh;
  object-fit: cover;
}
.result-text {
  font-size: 2rem;
  padding: 0rem 5rem;
  color: #292929;
}
@media (max-width: 1000px) {
  section {
    flex-direction: column;
  }
  section img {
    border-radius: 0% !important;
    max-width: 100% !important;
  }
  #why-section {
    flex-direction: column-reverse;
  }
  #wait-no-more-section {
    flex-direction: column-reverse;
  }
  .text {
    padding: 5rem;
  }
}
@media (max-width: 945px) {
  .navbar {
    height: 7%;
  }
  .menu {
    justify-content: flex-end;
  }

  .menu ul a {
    font-size: 1rem;
  }
  .logo-brand {
    display: none;
  }
  .menu ul {
    padding: 0;
  }
  .menu .desktop-menu {
    display: none;
  }
  .menu .mobile-menu {
    display: flex;
    justify-content: space-around;
    flex-basis: 60%;
    @media (max-width: 600px) {
      flex-basis: 80%;
    }
  }
  .menu .mobile-menu li {
    width: 5%;
  }
  .mobile-menu svg {
    max-height: 100%;
  }
}
@media (max-width: 414px) {
  .text {
    padding: 1rem;
    font-size: 1.2rem;
  }
}
